.main {
  margin: auto;
  width: 800px;
  font-family: sans-serif;
}
.search {
  margin: 20px;
  margin-top: 0;
  padding-top: 20px;
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100%;
  top: 0;
}
.submit-button {
  padding-right: 40px;
  display: inline-block;
}
.render-area {
  margin: 20px;
  margin-top: 150px;
}
.section {
  padding: 20px;
  padding-bottom: 30px;
  background-color: lightblue;
  font-family: sans-serif;
}
.section:nth-child(odd) {
  background-color: lightgreen;
}
.highlight {
  color: red;
}
.header {
  font-style: italic;
}
.speaker {
  display: inline-block;
  width: 150px;
  vertical-align: top;
}
.speech {
  display: inline-block;
  width: 500px;
}
.utterance {
  margin: 10px;
}
.tooltip {
  z-index: 3;
  background-color: darkgrey;
  width: 300px;
  position: absolute;
  visibility: hidden;
}
.tooltip-anchor {
  text-decoration: underline;
}
.tooltip-anchor:hover .tooltip {
  visibility: visible;
}
.tokenized-checkbox {
  padding: 10px;
}
.pos-checklist {
  padding: 10px;
}
.short-text-input {
  width: 50px;
}
.limit-options {
  padding: 10px;
}
.hits-per-game-input {
  padding: 20px;
}
.pos-checkbox {
  margin-left: 15px;
}
.script_title {
  font-size:24px;
  width: 400px;
  margin: auto;
}
.script_event {
padding-top: 20px;
padding-top: 40px;
border-spacing: 0;
overflow-wrap: break-word;
width: 800px;
}
.script_utterance_speaker_a {
  background-color: powderblue;
}
.script_utterance_speaker_b {
  background-color: lightgray;
}
.script_utterance_context {
  background-color: palegreen;
}
.script_utterance_choice {
  background-color: #F9FF9F; /* Pale Yellow */
}
.source_text_cell {
  width: 40%;
}
.dialog_cell {
  border: 1px;
  border-style: solid;
}
.speaker_cell {
  width: 15%;
}
.partition_title {
  padding: 10px;
}
.game_title {
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 400px;
  margin: auto;
}
.game_link {
  padding: 10px;
}
.description {
 padding: 20px;
}
.page_title {
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 400px;
  margin: auto;
}